main {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  select {
    height: 30px;
    width: 100px;
    font-size: 18px;
    margin: 0 10px;
  }