html {
  background-color: rgb(113, 113, 112);
  background-image: url(media/Octagon.jpeg);
  background-position: center;
  background-size: auto;
  background-size:cover;
}

main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: black;
    background-image: url(media/Octagon.jpeg);
    background-position: center;*/
}
img {
border-radius: 40px;
margin-bottom: 15px;
border-width: 5px;
border-style: groove;
border-color: grey;
border
}

.box img{
  max-width: 400px;
  height: 300px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  object-fit: cover;
}

.sign {
  text-align: center;
  padding: 1rem;
}
/*.fighter {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}*/
.fighter {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: .5rem;
  display: block;
  margin: auto;
  margin-bottom: auto;
}

.fighter {
  transition: all .2s ease-in-out; 
}

.fighter:hover {
  transform: scale(1.1);
}

.adesanya-card, .islam-card, .jiri-card, .jones-card, .khabib-card, .connor-card, .mighty-card, .paddy-card, .alex-card, .glover-card, .tony-card, .volk-card, .question-card {
  background-color: white;
  position: fixed;
  max-height: 90vh;
  min-height: 31.25rem;
  width: 31.25rem;
  width: 50%;
  margin: 0 25vw;
  top: 10vh;
  z-index: 10;
  padding: 3rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

  h1 {
    display: flex;
    justify-content: center;
    font-weight: 900;
  }

h2 {
  display: flex;
  justify-content: center;
  font-weight: 500;
}
h1, h2 {
  color: white;
}

.birthday {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.js-submit-button {
  transition: all .2s ease-in-out;
}

.js-submit-button:hover {
  transform: scale(1.1);
}
.hover_title {
  color: rgb(0, 0, 0);
  padding: 1rem;
}
.hover_desc {
  color: rgb(0, 0, 0);
  line-height: 30px;
  padding: 1rem;
}

.question-button {
  color: white;
  background-color:black;
  border-radius: 5px;
  padding: .3rem;
  display: block;
  margin: left;
}

.hidden {
  display: none;

/*.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  select {
    height: 30px;
    width: 100px;
    font-size: 18px;
    margin: 0 10px;
  }
  */